.page {
  background-color: #ede4ff;
  height: 100vh;
}

.diary {
  display: flex;
  flex-direction: row;
}

.article {
  max-width: 400px;
  height: 400px;
  background-color: #6528f7;
  border-radius: 25px;
  padding: 10px;
  color: #a076f9;
  margin: 10px;
  position: relative;
}

.articleButton {
  background-color: #a076f9;
  border-radius: 25px;
  border: none;
  padding: 5px;
  color: #ede4ff;
  position: absolute;
  bottom: 10px;
}

.articleButton:hover {
  cursor: pointer;
}

.articleTitle {
  color: #d7bbf5;
}

.navBar {
  background-color: #6528f7;
  height: fit-content;
}

.navBarElements {
  margin: 15px;
  display: inline-block;
  vertical-align: middle;
  color: #d7bbf5;
}

.navBarElements:hover {
  cursor: pointer;
}
